<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sportslightadmin.footballtalk.dao.FootballTalkDAO">
	<select id="count" resultType="int">
		SELECT count(*) FROM footballTalk
		
	</select>


	<resultMap type="FootballTalkDTO" id="listSelect" autoMapping="true">
		<association property="memberzDTO" javaType="MemberzDTO">
			<result column="memberProfile" property="memberProfile" />
		</association>
	</resultMap>

	<select id="footballTalkList" parameterType="FootballTalkPageDTO" resultMap="listSelect">
	<![CDATA[ 
		
		select b.* from(select rownum as rm, n.*
         from(select b.*, m.memberProfile
         from footballTalk b, memberz m
         where b.membernum=m.membernum(+)
         order by talkNum desc)n)b
		where b.rm between #{startRow} and #{endRow}
		
		]]>
	</select>
	<!--order by leagueNum asc-->
	
	
	<!--삭제-->
	<delete id="delete" parameterType="int">
		DELETE FROM footballTalk
		WHERE talkNum=#{talkNum}
	</delete>

	
	

</mapper>



