<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!--id와 dao 메소드 이름 일치-->
<mapper namespace="com.sportslight.schedule.dao.ScheduleDAO">
	
	<resultMap type = "ScheduleDTO" id = "scheduleSelect" autoMapping="true"/>
	    
	<!--유저가 선택한 리그의 모든 일정 셀렉트-->
	<select id = "selectedScheduleList" parameterType="ScheduleDTO" resultMap="scheduleSelect">
		SELECT *
		FROM matchSchedule
		WHERE leagueName = #{leagueName}
		ORDER BY scheduleNum ASC
	</select>		
	
	<!--유저가 선택한 리그의 이번 달 일정 셀렉트-->
	<select id = "recentScheduleList" parameterType="ScheduleDTO" resultMap="scheduleSelect">
		SELECT *
		FROM matchSchedule
		WHERE leagueName = #{leagueName}
		AND leagueYM IN (SELECT leagueYM
					     FROM matchSchedule
					     WHERE leagueName = #{leagueName}
					     AND TO_CHAR(matchDate, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM'))
		ORDER BY scheduleNum ASC
	</select>																			
    
</mapper>
 
 
 
 
 
 
